:root{
  --wrap-width: calc(min(100% , 40em));
  --acc-cap-h: 1.5em;
  --col1: #000000;
  --col2: #a08c8c;
  --col3: #e6dbb6;
  --col4: #f8f5ef;
}
*{
  margin: 0;
  padding: 0;
}
*::marker{
  content: none;
}
body{
  background-color: var(--col4);
}
li:not(:last-child){
  margin-bottom: 2em;
}
li:last-child{
  margin-bottom: 1em;
}
.wrap{
  width: var(--wrap-width);
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1em 1em 0;
}
.h1 {
  width: inherit;
  margin: 0.5em 0 0.8em;
  font: bold 3em 'Arial', sans;
  text-align: center;
}
.acc{
  border: solid var(--col1) 0.125em;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: var(--col3);
}
.acc-cap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background-color: var(--col2);
}
.acc-cap__title{
  font: 500 var(--acc-cap-h) 'Arial', sans;
}
.acc-cap__img{
  height: var(--acc-cap-h);
}
.acc-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}
.acc-content__img{
  width: 100%;
  height: auto;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--col2);
}
.footer-link{
  cursor: pointer;
}
.footer-link-img{
  height: 3em;
  width: auto;
}