:root{
  --acc-cap-h: 1.5em;
  --col1: #790f05;
  --col1alt: #000000;
  --col2: #c0a8a8;
  --col2alt: #9c6c6c;
  --col3: #e6dbb6;
  --col4: #f8f5ef;
  --transition: 1s ease-in-out;
  --transition2: 0.75s linear 0.25s;
}
*{
  margin: 0;
  padding: 0;
}
*::marker{
  content: none;
}
body{
  background-color: var(--col4);
}
li:not(:last-child){
  margin-bottom: 0.25em;
}
li:last-child{
  margin-bottom: 0.5em;
}
.wrap{
  max-width: 900px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1em 1em 0;
}
.h1 {
  width: inherit;
  margin: 0.3em 0 0.6em;
  font: bold 3em 'Arial', sans;
  text-align: center;
}
.acc{
  display: block;
  border: solid black 0.125em;
  border-radius: 0.75em;
  overflow: hidden;
  background-color: var(--col2);
  transition: var(--transition2);
}
.acc-cap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background-color: var(--col2);
  transition: var(--transition);
}
.acc__radio{
  display: none;
}
.acc-cap__title{
  font: 700 var(--acc-cap-h) 'Arial', sans;
  color: var(--col1);
  transition: var(--transition);
}
.acc-cap__img{
  height: var(--acc-cap-h);
  transition: var(--transition);
  opacity: 0;
}
.acc-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  transition: var(--transition);
}
.acc-content__img{
  max-width: 0;
  height: auto;
  transition: var(--transition);
  border-radius: 0.5em;
}
footer{
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  padding: 1em;
  background-color: var(--col2);
  border-radius: 1em 1em 0 0;
}
.footer-link{
  cursor: pointer;
}
.footer-link-img{
  height: 3em;
  width: auto;
}
.acc:has(.acc__radio:checked){
  background-color: var(--col3);
}
.acc:has(.acc__radio:checked) .acc-cap__img{
  transform: rotate(-225deg);
  opacity: 100%;
}
.acc:has(.acc__radio:checked) .acc-content{
  padding: 0.5em;
}
.acc:has(.acc__radio:checked) .acc-content__img{
  max-width: 100%;
}
.acc:has(.acc__radio:checked) .acc-cap{
  background-color: var(--col2alt);
}
.acc:has(.acc__radio:checked) .acc-cap__title{
  color: var(--col1alt);
}
@media (hover: hover){
  .acc-cap__img{
    opacity: 0;
  }
  .acc-list:hover .acc-cap__img{
    opacity: 100%;
  }
  .acc:hover{
    background-color: var(--col3);
  }
  .acc:hover .acc-content{
    padding: 0.5em;
  }
  .acc:hover .acc-content__img{
    max-width: 100%;
  }
  .acc-list:hover .acc-cap__title{
    color: var(--col1alt);
  }
}
@media (hover: none){
  .acc-cap__img{
    opacity: 100%;
  }
}